<div class="block-container">
    <div class="block-title block-container-inner">
    </div>
    <div class="block-buttons block-container-inner">
        <button class="btn btn-default btn-update">
            Update
        </button>

        <button class="btn btn-default btn-delete">
            Delete
        </button>

        <button class="btn btn-default btn-move btn-move-prev">
            Move back
        </button>

        <button class="btn btn-default btn-move btn-move-next">
            Move forward
        </button>                    
    </div>
    <div class="block-content block-container-inner">
    </div>
</div>
