body {
    padding-top: 50px;
}

.content-container {
    padding: 15px 15px 15px 0;
}

.scroll-view {
    height: calc(100vh - 50px);
    overflow: auto;
}

.side-panel {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    float: right;
    max-width: 100%;
    padding: 15px;
    width: 500px;
}

.block-container {
    cursor: pointer;
}

.block-container .block-buttons {
    display: none;
}

.block-container.selected .block-buttons {
    display: block;
}
.block-container .block-buttons,
.block-container .block-content {
    border: 1px solid grey;
    padding: 10px;
}